<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1051561767754-rthavtaor1isceujqukj5cpol9hs9cgg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1051561767754-rthavtaor1isceujqukj5cpol9hs9cgg</string>
	<key>API_KEY</key>
	<string>AIzaSyBmle7gjZL5wMGladrEEjygTEytbv5H7dg</string>
	<key>GCM_SENDER_ID</key>
	<string>1051561767754</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.databaseAttempt1</string>
	<key>PROJECT_ID</key>
	<string>pacerunner-backend</string>
	<key>STORAGE_BUCKET</key>
	<string>pacerunner-backend.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1051561767754:ios:62d6231d0315b5514307b3</string>
</dict>
</plist>